<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fomulario de registro</title>
</head>
<body>
    <h1>Preencha o formulario abaixo</h1>

    <form action="/register" method="POST">
        <label for="Username">nome de usario</label>
        <input type="text" name="Username" id="Username">

        <label for="password">Senha</label>
        <input type="password" name="password" id="password">

        <button type="submit">enviar</button>
    </form>
</body>
</html>